<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

if title
    <title>#{ title } | #{ project } - #{ projectDescription }</title>
else
    <title>#{ project } - #{ projectDescription }</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="css/docs.shared.css">

if !disableAssets
    <link rel="stylesheet" href="css/docs.#{ slug }.css">

<meta name="twitter:title" content="JosephusPaye/Keen-UI">
<meta property="og:title" content="JosephusPaye/Keen-UI">
<meta property="og:url" content="https://josephuspaye.github.io/Keen-UI/">

style.
    [v-cloak] {
        display: none;
    }
