-
  var menu = [{
        slug: 'ui-alert',
        text: 'UiAlert'
    }, {
        slug: 'ui-autocomplete',
        text: 'UiAutocomplete'
    }, {
        slug: 'ui-button',
        text: 'UiButton'
    }, {
        slug: 'ui-checkbox',
        text: 'UiCheckbox'
    }, {
        slug: 'ui-collapsible',
        text: 'UiCollapsible'
    }, {
        slug: 'ui-confirm',
        text: 'UiConfirm'
    }, {
        slug: 'ui-fab',
        text: 'UiFab'
    }, {
        slug: 'ui-icon-button',
        text: 'UiIconButton'
    }, {
        slug: 'ui-icon',
        text: 'UiIcon'
    }, {
        slug: 'ui-menu',
        text: 'UiMenu'
    }, {
        slug: 'ui-modal',
        text: 'UiModal'
    }, {
        slug: 'ui-popover',
        text: 'UiPopover'
    }, {
        slug: 'ui-preloader',
        text: 'UiPreloader'
    }, {
        slug: 'ui-progress-circular',
        text: 'UiProgressCircular'
    }, {
        slug: 'ui-progress-linear',
        text: 'UiProgressLinear'
    }, {
        slug: 'ui-radio',
        text: 'UiRadio'
    }, {
        slug: 'ui-radio-group',
        text: 'UiRadioGroup'
    }, {
        slug: 'ui-rating',
        text: 'UiRating & UiRatingPreview'
    }, {
        slug: 'ui-ripple-ink',
        text: 'UiRippleInk'
    }, {
        slug: 'ui-select',
        text: 'UiSelect'
    }, {
        slug: 'ui-slider',
        text: 'UiSlider'
    }, {
        slug: 'ui-snackbar',
        text: 'UiSnackbar & UiSnackbarContainer'
    }, {
        slug: 'ui-switch',
        text: 'UiSwitch'
    }, {
        slug: 'ui-tabs',
        text: 'UiTabs'
    }, {
        slug: 'ui-textbox',
        text: 'UiTextbox'
    }, {
        slug: 'ui-toolbar',
        text: 'UiToolbar'
    }, {
        slug: 'ui-tooltip',
        text: 'UiTooltip'
    }];

<ul class="menu">
    if (slug === "index")
        a(
            class="menu-item active"
            href="index.html"
        ) Getting Started
    else
        a(
            class="menu-item"
            href="index.html"
        ) Getting Started

    <div class="menu-header">Components</div>

    each item in menu
        if item.slug === slug
            a(
                class="sub-menu-item active"
                href= item.slug + '.html'
            )= item.text
        else
            a(
                class="sub-menu-item"
                href= item.slug + '.html'
            )= item.text
</ul>
